{% extends "../layout.twig" %}

{% block body %}
<style>
    .form-approve-email{
    margin: 40px auto 80px;
}
</style>

<section class="container form-approve-email">
    <div class="container-page row">
        {% if errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong>
            {% for error in errors %}
            {{error.message}} <br>
            {% endfor %}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Вы успешно подтвердили почту</h4>
            <p>Заявка будет проверена администратором. После этого вы получите полный доступ.</p>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}