{% extends "../layout.twig" %}

{% block body %}
<style>
    .form-change-pass{
    margin: 40px auto 80px;
}
</style>

<div class="container form-change-pass">
    <div class="container-page row">
        <div class="col-md-6">
            {% if success %}
            <div class="alert alert-success mb-5 mt-4">
                <h4 class="alert-heading mb-4">Готово</h4>
                <p>Пароль успешно заменен</p>
                <p>Для продолжения работы с системой,
                    <a href="/login" class="">авторизуйтесь</a>
                </p>
            </div>
            {% else %}
            <form action="/api/v0.1/auth/change-password" method="POST">
                <h3 class="dark-grey mb-5">Создание нового пароля</h3>
                {% if errors %}
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong>
                    {% for error in errors %}
                    {{error.message}} <br>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-group col-lg-12">
                    <label>Новый пароль</label>
                    <input type="password" name="password" class="form-control" required autofocus>
                </div>
                <div class="form-group col-lg-12 mb-5">
                    <label>Повторите пароль</label>
                    <input type="password" name="repeated_password" class="form-control" required>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Изменить пароль</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="form-group col-md-6">
            {# <p>Инструкция по восстановлению</p> #}
        </div>
    </div>
</div>

{% endblock %}