{% extends "../layout.twig" %}

{% block body %}

    <div class="container">
        <header class="jumbotron my-4">
            <h2>Engine - фреймворк для быстрой разработки веб-приложений</h2>
            <p class="lead mt-3">
                Система для интеграции и прототипирования. Позволяет быстро реализовать недостающий функционал и связать различные системы между собой.
            </p>
            <p class="lead mt-3">
                В разработке фреймворка использовались открытые технологии, такие как: OPENUI5, NodeJS, MongoDB.
            </p>
            <p class="lead mt-3">
                Для пользовательских веб-приложений использован фреймворк OPENUI5 – открытый фреймворк от компании SAP. Фреймворк позволяет запускать приложения как на компьютере, так и на любом мобильном устройстве. Серверная часть разработана с использованием популярной платформы для разработки приложений NodeJS и базы данных MongoDB. Приложение реализовано с использованием одного языка программирования – JavaScript, что упрощает процесс его поддержки и развития.
            </p>
        </header>

        <h3 class="mb-4">Преимущества</h3>

        <div class="row text-justify">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/modules/frontpage/assets/img/1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Модульная архитектура</h4>
                        <p class="card-text">Позволит быстро настроить веб-приложение из готовых модулей под любые функциональные требования</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/modules/frontpage/assets/img/2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">GraphQL API</h4>
                        <p class="card-text">Универсальный язык запросов используется для интеграции с бекендом</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/modules/frontpage/assets/img/3.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Управление пользователями</h4>
                        <p class="card-text">Готовый модуль авторизации пользователей и урпвление правами на основе ролей</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row text-justify">

            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/modules/frontpage/assets/img/1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Мультиязычность</h4>
                        <p class="card-text">Все интерфейсы поддерживают локализацию на основе i18n, единые для фронтенд и бекенд части приложения</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/modules/frontpage/assets/img/2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Логирование</h4>
                        <p class="card-text">Встроенный модуль логирования любых объектов системы</p>
                    </div>
                </div>
            </div>

        </div>		
    </div>

{% endblock %}
