{% extends "../layout.twig" %}

{% block body %}
<style>
    .form-signin{
    margin: 40px auto 80px;
}
</style>

<div class="container form-signin">
    <div class="container-page row">
        <div class="col-md-6">
            <form class="form-signin" action="/api/v0.1/auth/login" method="POST">
                <h3 class="dark-grey mb-5">Вход</h3>
                {% if errors %}
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong>
                    {% for error in errors %}
                    {{error.message}} <br>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-group col-lg-12">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required autofocus>
                </div>
                <div class="form-group col-lg-12">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group col-lg-12 mb-5">
                    <a href="/recovery-password">Восстановить пароль</a>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                </div>
            </form>
        </div>
        <div class="form-group col-md-6">
            {# <p>Инструкция по восстановлению</p> #}
        </div>
    </div>
</div>

{% endblock %}