{% extends "../layout.twig" %}

{% block body %}
<style>
    .form-recovery{
    margin: 40px auto 80px;
}
</style>

<div class="container form-recovery">
    <div class="container-page row">
        <div class="col-md-6">
            <form action="/api/v0.1/auth/recovery-password" method="POST">
                <h3 class="dark-grey mb-5">Восстановление пароля</h3>
                {% if errors %}
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong>
                    {% for error in errors %}
                    {{error.message}} <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success">
                    <p>На вашу почту отправлено письмо с инструкцией по восстановлению вашего пароля</p>
                </div>
                {% endif %}
                <div class="form-group col-lg-12">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required autofocus>
                </div>
                <div class="form-row col-lg-12 mb-5">
                    <div class="form-group col-md-6">
                        {{ captcha }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Текст с каптчи</label>
                        <input type="text" name="captcha" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Восстановить</button>
                </div>
            </form>
        </div>
        <div class="form-group col-md-6">
            {# <p>Инструкция по восстановлению</p> #}
        </div>
    </div>
</div>

{% endblock %}