{% extends "../layout.twig" %}

{% block body %}
<style>
    .form-register{
    margin: 40px auto 80px;
}
</style>

<section class="container form-register">
    <div class="container-page row">
        <div class="col-md-6">
            <form class="form-signin" action="/api/v0.1/auth/register" method="POST">
                <h3 class="dark-grey mb-5">Регистрация</h3>
                {% if errors %}
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong>
                    {% for error in errors %}
                    {{error.message}} <br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if success %}
                <div class="alert alert-success">
                    <h4 class="alert-heading">Вы успешно зарегистрировались</h4>
                    <p>
                        На почту отправлено письмо с ссылкой для подтверждения регистрации.
                        Для завершение регистрации перейдите по ней. 
                    </p>
                </div>
                {% endif %}
                <div class="form-row col-lg-12">
                    <div class="form-group col-md-4">
                        <label>Фамилия</label>
                        <input type="text" name="lastname" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Имя</label>
                        <input type="text" name="firstname" class="form-control" required autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Отчество</label>
                        <input type="text" name="middlename" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group col-lg-12 mb-5">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Регистрация</button>
                </div>
            </form>
        </div>
        <div class="form-group col-md-6">
            {# <p>Инструкция по восстановлению</p> #}
        </div>
    </div>
</section>

{% endblock %}