<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Engine - фреймворк для быстрой разработки веб-приложений</title>

        <!-- Bootstrap core CSS -->
        <link
        href="/modules/frontpage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="/modules/frontpage/assets/css/heroic-features.css" rel="stylesheet"/>

    </head>

    <body>
        {% include "elements/header.twig" %}
        {% block body %}{% endblock %}
        {% include "elements/footer.twig" %}

        <!-- Bootstrap core JavaScript -->
        <script src="/modules/frontpage/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/modules/frontpage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
